/* ==========================================================================
Content
========================================================================== */
body,
html {
  height: 100%;
  overflow: hidden;
}
#root {
  height: 100%;
  overflow: auto;
}

#site_wrapper {
  min-height: 100%;
  @include flexbox;
  @include flex-flow(column nowrap);
  background-color: $c-semi-black;
}
.main {
  @include flex(1);
  min-height: calc(100vh - 185px) !important;
  padding-bottom: 30px;
}
