.tab-navs.light {
  border-top: 1px solid rgba(0,0,0,0.1);
  .tab-nav {
    font-size: 1.625rem;
    color: #282f39;
    padding: 1.25rem 0;
    margin-left: 15px;
    cursor: pointer;
    &.active:before {
      content: '';
      display: block;
      position: absolute;
      top: -.0625rem;
      left: 0;
      height: .25rem;
      width: 6rem;
      background-color: #00edc3;
    }
  }
}

.tab-navs.dark {
  background-color: rgba(40,47,57,0.95);
  padding-left: calc(50% - 150px);
  padding-right: calc(50% - 150px);
  .tab-nav {
    color: white;
    font-size: 14px;
    line-height: 14px;
    padding: 19px;
    cursor: pointer;
    &.active {
      color: #1AEEC2;
      border-bottom: 2px solid #1AEEC2;
    }
  }
}
