main {
    background-color: $c-semi-black;
    .vote-box {
        position: relative;
        margin-top: 134px;
        height: 290px;
        .vote-heading {
            letter-spacing: 6px;
            text-transform: uppercase;
            font-size: 18px;
            line-height: 18px;
            color: #97A4AD;
            display: block;
            margin-bottom: 12px;
        }
        .vote-teaser {
            color: #FFFFFF;
            font-size: 32px;
            line-height: 42px;
            display: block;
            margin-bottom: 8px;
        }
        .vote-button {
            background-color: #1aeec2;
            color: #000;
            border-radius: 16px;
            padding: 18px 30px;
            display: block;
            width: 150px;
            text-align: center;
            height: 60px;
            position: relative;
            margin-top: 20px;
        }
    }
    #hackathon-banner {
        width: 750px;
        height: 594px;
        background: url('../images/hero-img.svg') no-repeat center;
        margin-left: -120px;
        margin-top: -68px;
    }
    .listing {
        margin: 30px 0;
        h2.heading {
            color: #F4F8F9;
            font-size: 28px;
            line-height: 28px;
            display: block;
            width: 100%;
            margin-top: -12px;
            a {
                color: #F4F8F9;
            }
        }
        span.description {
            color: #97A4AD;
            display: block;
            font-size: 16px;
            line-height: 21px;
            width: 100%;
            margin-bottom: 20px;
        }
        h3.card-title {
            color: #FFFFFF;
            font-size: 21px;
        }
        .card-text {
            color: rgba(255,255,255,0.7);
        }
        .card {
            background-color: rgba(255,255,255,0.1);
            margin: 0px;
            width: 360px;
            margin-right: 30px;
            &:last-child {
                margin-right: 0;
            }
            .card-header, .card-text, .card-title, .card-footer {
                color: rgba(255,255,255,0.7);
            }
            h3.card-title {
                color: #FFFFFF;
                font-size: 21px;
            }
        }
        &.bounty {
            h3.card-title {
                width: 100%;
                text-align: left;
            }
            div.image {
                width: 100%;
                height: 250px;
                background-repeat: no-repeat;
                background-position: center;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                border-top-left-radius: .25rem;
                border-top-right-radius: .25rem;
                position: relative;
                img {
                    width: 100%;
                    height: 320px;
                    border-top-left-radius: .25rem;
                    border-top-right-radius: .25rem;
                }
                span.value {
                    display: block;
                    position: absolute;
                    text-align: left;
                    left: 10px;
                    bottom: 10px;
                    border-radius: 4px;
                    background-color: rgba(0, 0, 0, 0.85);
                    background-image: url(../svg/ic-coin.svg);
                    background-position: 10px center;
                    background-repeat: no-repeat;
                    color: white;
                    padding: 5px;
                    min-width: 100px;
                    padding-left: 30px;
                }
            }
            div.time-remaining {
                position: relative;
                span.day {
                    color: white;
                    font-size: 32px;
                    line-height: 32px;
                    text-align: left;
                    display: block;
                    margin-left: 0;
                    float: left;
                }
                span.time-left {
                    color: white;
                    font-size: 14px;
                    line-height: 14px;
                    display: block;
                    text-align: left;
                    float: left;
                    position: relative;
                    left: 5px;
                }
                div.progress {
                    height: 5px;
                    background-color: #888888;
                    position: absolute;
                    width: 280px;
                    top: 18px;
                    right: 0;
                    div.done {
                        background-color: #1aeec2;
                        height: 5px;
                    }
                }
            }
            div.teams-icon {
                display: block;
                float: left;
                width: 100%;
                margin-top: 24px;
                vertical-align: middle;
                img {
                    position: relative;
                    margin-right: -16px;
                    margin-bottom: 16px;
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    vertical-align: middle;
                }
            }
            .card-footer {
                .card-text {
                    display: block;
                    position: relative;
                    bottom: -60px;
                    right: 0;
                }
            }
        }
        &.codebase {
            .card {
                .card-header {
                    .team-icon {
                        background-image: url(../images/logo-team.png);
                        background-repeat: no-repeat;
                        background-position: left center;
                        display: inline-block;
                        width: 24px;
                        height: 24px;
                        margin-right: 6px;
                        position: relative;
                        top: 6px;
                    }
                }
                .card-footer {
                    .link-icon {
                        background-image: url(../svg/ic-link.svg);
                        background-repeat: no-repeat;
                        background-position: 0 10px;
                        display: inline-block;
                        width: 24px;
                        height: 24px;
                        position: relative;
                    }
                }
            }
        }
        &.marketplace {
            .card {
                width: 540px;
            }
            h3.card-title {
                width: 100%;
                text-align: left;
            }
            div.image {
                width: 100%;
                height: 250px;
                background-repeat: no-repeat;
                background-position: center;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                border-top-left-radius: .25rem;
                border-top-right-radius: .25rem;
                position: relative;
                img {
                    width: 100%;
                    height: 250px;
                    border-top-left-radius: .25rem;
                    border-top-right-radius: .25rem;
                }
                span.value {
                    display: block;
                    position: absolute;
                    text-align: left;
                    left: 10px;
                    bottom: 10px;
                    border-radius: 4px;
                    background-color: rgba(0, 0, 0, 0.85);
                    background-image: url(../svg/ic-coin.svg);
                    background-position: 10px center;
                    background-repeat: no-repeat;
                    color: white;
                    padding: 5px;
                    min-width: 100px;
                    padding-left: 30px;
                }
            }
        }
        &.help {
            .card {
                &:after {
                    height: 180px;
                    position: absolute;
                    display: block;
                    content: "";
                    bottom: 0;
                    width: 100%;
                    z-index: 0;
                    @include linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1));
                }
                &::after {
                    height: 180px;
                    position: absolute;
                    display: block;
                    content: "";
                    bottom: 0;
                    width: 100%;
                    z-index: 0;
                    @include linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1));
                }
                .card-img-overlay {
                    padding-top: 160px;
                    z-index: 1;
                }
            }
        }
    }
}
#sign-up-modal {
    opacity: 1;
    span.title {
        text-align: center;
        font-size: 24px;
        line-height: 36px;
        display: block;
        margin-top: 20px;
    }
    input[type="file"] {
        display: none;
    }
    input[type="text"], input[type="password"], select {
        background-color: #F4F4F4;
        border-radius: 10px;
        padding: 20px;
        border: none;
        display: block;
        margin: 20px auto 0;
        width: 436px;
        color: rgba(40, 47, 57, 0.7);
        &::-webkit-input-placeholder {
            color: rgba(40, 47, 57, 0.7);
        }
        &::-moz-placeholder {
            color: rgba(40, 47, 57, 0.7);
        }
        &::-ms-input-placeholder {
            color: rgba(40, 47, 57, 0.7);
        }
        &:moz-placeholder {
            color: rgba(40, 47, 57, 0.7);
        }
    }
    span.value {
        text-align: center;
        font-size: 18px;
        line-height: 18px;
        display: block;
        margin-top: 10px;
    }
    a.button {
        background-color: #1aeec2;
        color: #000;
        border-radius: 8px;
        padding: 12px 30px;
        display: block;
        width: 436px;
        text-align: center;
        margin: 32px auto 35px;
        &[disabled] {
            cursor: default;
        }
    }
    .content {
        padding: 20px;
        border-top: 1px solid #ECECEC;
        margin-top: 20px;
    }
    ul {
        list-style-type: none;
        border: 0;
    }
    li[role='presentation'] {
        a {
            width: 248px;
            display: block;
            text-align: center;
            height: 84px;
            padding-top: 27px;
            border-radius: 8px;
            &.active {
                color: #000;
                font-size: 24px;
                line-height: 36px;
                background-color: #FFFFFF;
                border-top: 4px solid #1AEEC2;
            }
            &:not(.active) {
                color: rgba(0,0,0,0.3);
                font-size: 18px;
                line-height: 28px;
                background-color: #F1F2F3;
            }
        }
    }
    .modal-dialog {
        max-width: 500px;
        padding: 0;
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
        .modal-content {
            border-radius: 8px;
        }
        .modal-body {
            padding: 0;
            box-shadow: 0 5px 30px rgba(0,0,0,0.6);
        }
        .close-button {
            background-image: url(../images/ic-close.png);
            background-repeat: no-repeat;
            float: right;
            width: 32px;
            height: 32px;
            border: none;
            background-color: transparent;
            position: relative;
            margin-bottom: -32px;
            bottom: 16px;
            left: 16px;
            cursor: pointer;
        }
    }
    .alt-text {
        color: rgba(40, 47, 57, 0.7);
        text-align: center;
        display: block;
    }
    .facebook-auth, .google-auth {
        display: inline-block;
        width: 208px;
        height: 60px;
        background-repeat: no-repeat;
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .facebook-auth {
        background-image: url('../images/facebook-auth.png');
        margin-left: 32px;
        margin-right: 12px;
    }
    .google-auth {
        background-image: url('../images/google-auth.png');
    }
    .forgot-password {
        position: relative;
        top: 48px;
        width: 100%;
        display: block;
        text-align: center;
        font-size: 16px;
        color: white;
        line-height: 16px;
    }
}