.hidden {
  display: none;
}

.backround-image-none:after {
  background-image: none !important;
}

.cursor-pointer {
  cursor: pointer;
}

.pd-left-20 {
  padding-left: 20px;
}

@mixin linear-gradient($from, $to) {
  background-image: -moz-linear-gradient(top, $from 0%, $to 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to));
  background-image: -webkit-linear-gradient(top, $from 0%,$to 100%);
  background-image: -ms-linear-gradient(top, $from 0%,$to 100%);
  background-image: -o-linear-gradient(top, $from 0%,$to 100%);
  background-image: linear-gradient(to bottom, $from 0%,$to 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to})
}