.navbar-brand.error-page {
  margin: 42px auto 0;
}
.error-page {
  background-image: url(../images/robot-img.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
.error-section {
  width:100%;
  text-align: center;
  .image {
    background-image: url('../svg/drone.svg');
    background-repeat: no-repeat;
    width: 557px;
    height: 470px;
    margin: auto;
  }
  .text {
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    margin-top: -120px;
    color: white;
  }
  a {
    color: $c-base;
  }
  &.not-found {
    .image {
      background-image: url('../svg/drone-404.svg');
    }
    .text {
      font-size: 16px;
      line-height: 25px;
      margin-top: -100px;
    }
    a.button {
      background-color: #1aeec2;
      color: #000;
      border-radius: 16px;
      padding: 24px 32px;
      font-size: 16px;
      line-height: 16px;
      display: block;
      width: 200px;
      margin: auto;
      text-align: center;
      text-decoration: none;
    }
  }
  &.details {
    .image {
      top: -54px;
      position: relative;
    }
    .text {
      font-size: 16px;
      line-height: 25px;
    }
    .contact-text {
      display: inline-block;
      text-align: center;
      width: 100%;
      padding-top: 25px;
      border-top: 1px solid rgba(255,255,255,0.1);
    }
    .steps {
      display: block;
      text-align: left;
      .step {
        display: block;
        float: left;
        width: calc((100% / 3) - 30px);
        margin-right: 30px;
        .order {
          font-size: 24px;
          line-height: 36px;
          color: $c-base;
        }
      }
    }
  }
}
.no-margin-right {
  margin-right: 0 !important;
}