html, body {
  height: 100%;
}

#site_wrapper:not(.error-page) {
  background-image: url(static/images/robot-img.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.site-header {
  background-color: transparent !important;
    z-index: 1;
}

.main {
  min-height: 900px;
  background-color: white;
  padding-top: 40px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
}

.error-section {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.error-section .image {
  background-image: url("static/svg/drone.svg");
  background-repeat: no-repeat;
  width: 557px;
  height: 470px;
  margin: auto
}

.error-section .text {
  display: block;
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  margin-top: -120px;
  color: white;
}

.error-section a {
  color: #00edc3
}

.error-section.not-found .image {
  background-image: url("static/svg/drone-404.svg")
}

.error-section.not-found .text {
  font-size: 16px;
  line-height: 25px;
  margin-top: -100px
}

.error-section.not-found a.button {
  background-color: #1aeec2;
  color: #000;
  border-radius: 16px;
  padding: 24px 32px;
  font-size: 16px;
  line-height: 16px;
  display: block;
  width: 200px;
  margin: auto;
  text-align: center;
  text-decoration: none
}

.error-section.details .image {
  top: -54px;
  position: relative
}

.error-section.details .text {
  font-size: 16px;
  line-height: 25px
}

.error-section.details .contact-text {
  display: inline-block;
  text-align: center;
  width: 100%;
  padding-top: 25px;
  border-top: 1px solid rgba(255,255,255,0.1)
}

.error-section.details .steps {
  display: block;
  text-align: left
}

.error-section.details .steps .step {
  display: block;
  float: left;
  width: calc((100% / 3) - 30px);
  margin-right: 30px
}

.error-section.details .steps .step .order {
  font-size: 24px;
  line-height: 36px;
  color: #00edc3
}

.no-margin-right {
  margin-right: 0 !important
}

.component {
  width: 200px;
  padding: 20px;
  text-align: center;
}